<style>
  .Note_Panel {
    position: absolute;
    background-color: blue;
    z-index: 2;
    border-radius: 15px;
    width: 20%;
    height: 20%;
  }
</style>

<div class="Note_Panel">
  <h1>Notizen</h1>
  <button id="" toggleBtnNotePanel>Neue Notiz hinzufügen</button>
  <form id="NoteForm">
    <lable for="NoteText">Notiz:</lable>
    <textarea id="NoteText" name="NoteText" rows="4" cols="30" placeholder="Add Note"></textarea> 
    <br>
    <label for="priority">Priorität</label>
    <input id="PriorityNotePaneltype="integer" step="1"></input>
    <br>
    <lable for="Date">Datum:</lable>
    <input id="DateNotePanel" type="date" name="NewNote"></input>
  </form>
</div>

<script></script>
